*{
  margin: 0;
  padding: 0;
}

body {
  background: #e6e6e6;
}

header, .main, footer{
  background:#fff;
  width:100%;
  max-width:2000px;
  margin:50px auto;
}

header nav{
  background: #528fd5;
  overflow: hidden;
}

header nav ul li a{
  float: left;
  padding:10px 20px;
  display:block;
  color:#fff;
  text-decoration:none;
}

header nav ul li a:hover{
  background: #75acec;
}


.menu{
  width:100%;
  background:#528fd5;
  list-style:none;
  margin:0;
  padding:0;
}

.menu li {
  text-decoration: none;
  display:inline-block;
}

.menu li a {
  display: inline-block;
  padding: 12px 120px;
  display: inline-block;
  color: #fff;
}

.menu li a:hover{
  color: #000 ;
}

ul{
  list-style-type:none;
}

.mokka {
  width: 150px;
  height: auto;
  margin: auto;
  display: block;
}

.pie {
  text-align:center;
  background: #3D494D;
  height: 30px;
  color: #fff;
}

.mokka {
  border-radius:50%; 
}

div{
  background:#e6e6e6;
  width: 100%;
}

header {
  background: #e6e6e6;
}

form {
  width: 25%;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

label{
  float: inherit;
  font-size:12px;
  display: block;
  width: 100%;
}

textarea{
  float: inherit;
  resize:vertical;
  max-height: 300px;
}

input, textarea {
  float: inherit;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border:1px solid #ccc;
}

input:focus, textarea:focus{
  float: right;
  border:1px solid #1668C4;
}

input[type="submit"]{
  float: inherit;
  margin-bottom: 0;
  background: #1668C4;
  color:#fff;
  border: none;
}

input[type="submit"]:hover {
   float: inherit;
  background: #4A88F4;
  cursor:pointer;
}

.wap {
width: 95%;
display: flex;
flex-wrap: wrap;



overflow: auto;
clear: both;
}

.wap img{
 height: 180px;
 margin-left: 7%;
 margin-bottom: 3%;
margin-right: 20px;
}

.madera img{
margin-top: 50px;
margin-left: 50%;
background: red;
}

section p{
margin-left: 5%;
display:inline-block;
width: 100%;
padding: 8px 20px;
background: #2d3e50;
color: #fff;
text-align: center;
text-decoration: none;
}

.Contacto{
  display: none;
}